.table {
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 1px #1b4332; 
    box-shadow: 0px 0px 15px 1px #1b4332;
 }
 
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #faedcd;
 }

 .table>tbody>tr:nth-child(even)>td,
 .table>tbody>tr:nth-child(even)>th {
    background-color: #faedcd;
 }
 .table>thead>tr{
     border: solid #f2c14e;
 }
 .table>thead>tr>th {
    background-color: #ffeab3;
    color: #1b4332;
 }
 
 